{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <div class="container">
       <div class="logo"> 
       Сайт на Django - Иванов Л.
    </div>
        <ul class="left-nav">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'news_list' %}">Новости</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Профиль</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
                {% if user.is_staff %}
                    <li><a href="{% url 'news_create' %}">Создать новость</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}">Вход</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
        <form class="right-nav" action="{% url 'news_search' %}" method="get">
            <span>Привет, {{ user.username }}</span>
            <input type="text" name="q" placeholder="Поиск">
            <button type="submit">Найти</button>
        </form>
    </div>
</nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>